<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/layout/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav>

        </nav>
        <div id = 'main-section'>
            <nav id = 'sidebar'>
                <!--Display the list of rooms received by the server-->
                {% for room in rooms %}
                    <p class = 'select-room'>{{room | title}}</p>
                {% endfor %}
            </nav>
            <div id = 'rightside-panel'>
                <div id = "display-message"></div>
                <div id = 'input-area'>
                    <input type = "text" id = "user-message" placeholder="Type message here" autocomplete="off">
                    <button type = "button" id = "send-message" class="btn btn-warning"><i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
        <script>
            const username = `{{ username }}`
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>
        <script src = "{{url_for('static', filename = 'scripts/socketio.js')}}"></script>
        <script src = "{{url_for('static', filename = 'scripts/chatpage.js')}}"></script>
    </body>
</html>